.input-field {
    -fx-padding: 20px 0 0 0;
    -fx-alignment: center-left;
    -fx-pref-height: 58px;
    -fx-pref-width: 150px;
}

.input-field__label {
    -fx-translate-x: 10px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
}

.input-field__label--focus {
    -fx-opacity: 0;
}

.input-field__input {
    -fx-padding: 10px 5px;
    -fx-background-color: transparent;
}

.input-field__underline {
    -fx-pref-height: 3px;
}

.input-field__underline--focus {
    -fx-scale-x: 0;
}
