.pagination {
    -fx-padding: 5px;
    -fx-spacing: 2px;
    -fx-background-radius: 25px;
    -fx-alignment: center;
}

.pagination__button {
    -fx-padding: 0;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
}

.pagination__slash {
    -fx-font-weight: bold;
}

.pagination__current, .pagination__total {
    -fx-pref-width: 15px;
}

.pagination__current {
    -fx-alignment: center-right;
}

.pagination__total {
    -fx-alignment: center-left;
}
