/*TODO - fix scrollbar*/

* {
    -fx-c-white: #fff;
    -fx-c-black: #000;

    /* Gray */
    -fx-c-gray-light-1: #E0E0E0;
    -fx-c-gray-light-2: #B0B0BA;

    -fx-c-gray-dark-1: #1B1D21;
    -fx-c-gray-dark-2: #272727;
    -fx-c-gray-dark-3: #383838;

    /* Primary */
    -fx-c-primary: #1E3337;
    /*-fx-c-primary-light: #014B59;*/
    -fx-c-primary-dark: #1A292C;

    /* Secondary */
    -fx-c-secondary: #E0A578;
    -fx-c-secondary-dark: #BD8377;
}

/*
 * UTILITY CLASSES
 */
.background-secondary {
    -fx-background-color: -fx-c-primary;
}

.background-secondary-dark {
    -fx-background-color: -fx-c-primary-dark;
}

.background-primary {
    -fx-background-color: -fx-c-gray-dark-1;
}

/*
 * BUTTONS
 */
.button-gray {
    -fx-background-color: -fx-c-white;
    -fx-text-fill: -fx-c-black;
}

.button-gray:hover {
    -fx-background-color: -fx-c-gray-light-1;
}

.button-secondary {
    -fx-background-color: -fx-c-secondary-dark;
    -fx-text-fill: -fx-c-white;
}

.button-secondary:hover {
    -fx-background-color: -fx-c-secondary;
}

/*
 * TYPOGRAPHY
 */
.heading-primary {
    -fx-text-fill: -fx-c-white;
}

.heading-white {
    -fx-text-fill: -fx-c-white;
}

/*
 * MENU
 */
.menu-row:hover {
    -fx-background-color: -fx-c-secondary-dark;
}

.menu-option {
    -fx-text-fill: -fx-c-gray-light-2;
}

.menu-row:hover .menu-option {
    -fx-text-fill: -fx-c-white;
}

.menu-row.active {
    -fx-background-color: -fx-c-secondary;
}

.menu-row.active .menu-option {
    -fx-text-fill: -fx-c-white;
}

/* TODO - remove temporary style below */
.group-image, .user-image {
    -fx-background-color: -fx-c-secondary;
}

.group-counter {
    -fx-background-color: -fx-c-gray-dark-3;
    -fx-border-color: -fx-c-black;
}

.group-counter Label {
    -fx-text-fill: -fx-c-white;
}

/*
 * TITLED PANE
 */
.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: transparent, -fx-c-gray-light-2;
}

.titled-pane:hover {
    -fx-text-fill: -fx-c-white;
}

.titled-pane > .title:hover {
    -fx-background-color: -fx-c-secondary-dark;
}

.titled-pane > .title:hover > .arrow-button .arrow {
    -fx-background-color: transparent, -fx-c-white;
}

/*
 * INPUT FIELD
 */
.input-field-background-color-blur {
    -fx-background-color: -fx-c-gray-dark-3;
}

.input-field-background-color-focus {
    -fx-background-color: -fx-c-secondary;
}

.input-field-text-color-blur {
    -fx-text-fill: -fx-c-gray-dark-3;
}

.input-field-text-color-focus {
    -fx-text-fill: -fx-c-secondary;
}

/*
 * OTHERS
 */
.separator {
    -fx-background-color: -fx-c-gray-dark-3;
}

.auth-view__background-gradient {
    -fx-background-color: linear-gradient(to top right, -fx-c-primary, -fx-c-primary-dark);
}
