* {
    -fx-c-white: #fff;
    -fx-c-black: #000;

    /* Gray */
    -fx-c-gray-light-0: #F0F0F0;
    -fx-c-gray-light-1: #E0E0E0;
    -fx-c-gray-light-2: #B0B0BA;
    -fx-c-gray-light-3: #909090;

    -fx-c-gray-dark-1: #1B1D21;
    -fx-c-gray-dark-2: #272727;
    -fx-c-gray-dark-3: #383838;

    /* Primary */
    -fx-c-primary: #397C82;
    -fx-c-primary-dark: #2B545B;

    /* Secondary */
    -fx-c-secondary: #E0A370;
    -fx-c-secondary-dark: #C78074;
}

/*
 * TYPOGRAPHY
 */
.heading--white {
    -fx-text-fill: -fx-c-white;
}

.heading {
    -fx-text-fill: -fx-c-black;
}

/*
 * BUTTONS
 */
.button--primary {
    -fx-background-color: -fx-c-primary;
    -fx-text-fill: -fx-c-white;
}

.button--primary:hover {
    -fx-background-color: -fx-c-primary-dark;
}

.button--white {
    -fx-background-color: -fx-c-white;
    -fx-text-fill: -fx-c-black;
}

.button--white:hover {
    -fx-background-color: -fx-c-gray-light-2;
}

.button--gray {
    -fx-background-color: -fx-c-gray-light-1;
    -fx-text-fill: -fx-c-black;
}

.button--gray:hover {
    -fx-background-color: -fx-c-gray-light-3;
}

.button--transparent-white {
    -fx-border-color: -fx-c-white;
    -fx-text-fill: -fx-c-white;
}

.button--transparent-white:hover {
    -fx-background-color: -fx-c-white;
    -fx-text-fill: -fx-c-black;
}

/*
 * UTILITY CLASSES
 */
.background-secondary {
    -fx-background-color: -fx-c-primary;
}

.background-secondary-dark {
    -fx-background-color: -fx-c-primary-dark;
}

.background-primary {
    -fx-background-color: -fx-c-white;
}

.color-text-primary {
    -fx-text-fill: -fx-c-black;
}

/*
 * BUILT-INS OVERRIDE
 */
/* Combobox */
.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: -fx-c-secondary-dark;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: -fx-c-secondary;
}

.menu-button:focused, .combo-box-base:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
}

/* Titled pane */
.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: transparent, -fx-c-gray-light-2;
}

/* Scrollbar */
.scroll-bar {
    -fx-background-color: -fx-c-gray-light-1;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: -fx-c-gray-lighr-1;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button,
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: -fx-c-gray-light-1;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow,
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-text-fill: -fx-c-black;
    -fx-background-color: -fx-c-gray-dark-1;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-c-gray-light-3;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: -fx-c-gray-dark-3;
}

.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: -fx-c-gray-light-3;
}

/* Scroll pane */
.scroll-pane > .corner {
    -fx-background-color: -fx-c-gray-light-1;
}

/* List view */
.list-view .list-cell:selected {
    -fx-background-color: -fx-c-secondary;
    -fx-text-fill: -fx-c-white;
}

.list-view .list-cell:hover {
    -fx-background-color: -fx-c-secondary-dark;
    -fx-text-fill: -fx-c-white;
}

/*
 * CONTROLS
 */
/* Graph visualization */
.vertex {
    -fx-stroke: -fx-c-primary-dark;
    -fx-fill: -fx-c-primary;
}

.edge, .arrow {
    -fx-stroke: -fx-c-secondary;
}

/* Group field */
.group-field__image {
    -fx-background-color: -fx-c-secondary;
}

.group-field__counter {
    -fx-background-color: -fx-c-gray-dark-3;
    -fx-border-color: -fx-c-black;
}

.group-field__counter Label {
    -fx-text-fill: -fx-c-white;
}

/* History item */
.card {
    -fx-background-color: -fx-c-gray-light-0;
}

.card__body {
    -fx-border-color: -fx-c-gray-light-3;
}

.card__label, .card__date {
    -fx-text-fill: -fx-c-gray-light-3;
}

.card__title, .card__user {
    -fx-text-fill: -fx-c-black;
}

.card__amount {
    -fx-text-fill: -fx-c-primary;
}

.card__amount.negative {
    -fx-text-fill: -fx-c-secondary;
}

.card__group {
    -fx-background-color: linear-gradient(to top right, -fx-c-primary, -fx-c-primary-dark);
    -fx-text-fill: -fx-c-white;
}

.card__category {
    -fx-background-color: linear-gradient(to top right, -fx-c-secondary, -fx-c-secondary-dark);
    -fx-text-fill: -fx-c-white;
}

/* Input field */
.input-field-background-color-blur {
    -fx-background-color: -fx-c-gray-light-2 !important;
}

.input-field-background-color-focus {
    -fx-background-color: -fx-c-primary !important;
}

.input-field-text-color-blur {
    -fx-text-fill: -fx-c-gray-light-2 !important;
}

.input-field-text-color-focus {
    -fx-text-fill: -fx-c-primary !important;
}

/* Multiselect combobox */
.multiselect__item {
    -fx-background-color: -fx-c-white;
}

.multiselect__item:hover {
    -fx-background-color: -fx-c-secondary-dark;
}

.multiselect__item:hover Label {
    -fx-text-fill: -fx-c-white;
}

.multiselect__item:selected {
    -fx-background-color: -fx-c-secondary;
}

.multiselect__item:selected Label {
    -fx-text-fill: -fx-c-white;
}

.multiselect__item-label {
    -fx-text-fill: -fx-c-gray-dark-1;
}

/* Pagination */
.pagination {
    -fx-background-color: -fx-c-gray-light-0;
}

.pagination__button {
    -fx-background-color: -fx-c-white;
    -fx-text-fill: -fx-c-gray-dark-2;
}

.pagination__slash {
    -fx-text-fill: -fx-c-gray-dark-2;
}

.pagination__current {
    -fx-text-fill: -fx-c-gray-dark-1;
}

.pagination__total {
    -fx-text-fill: -fx-c-primary;
}

/* Sorting */
.sort__label {
    -fx-text-fill: -fx-c-gray-dark-3;
}

/* Summary item balance */
.balance-item__user {
    -fx-text-fill: -fx-c-black;
}

.balance-item__label {
    -fx-text-fill: -fx-c-gray-light-3;
}

.balance-item__amount {
    -fx-text-fill: -fx-c-primary;
}

.balance-item__amount.negative {
    -fx-text-fill: -fx-c-secondary-dark;
}

/* User field */
.user-field__image {
    -fx-background-color: -fx-c-secondary;
}

/* View switch */
.view-switch__button {
    -fx-background-color: -fx-c-white;
    -fx-border-color: -fx-c-gray-light-2;
}

.view-switch__button:hover {
    -fx-text-fill: -fx-c-white;
    -fx-background-color: -fx-c-primary-dark;
}

.view-switch__button:selected {
    -fx-text-fill: -fx-c-white;
    -fx-background-color: -fx-c-primary;
}

/*
 * LAYOUT
 */
/* Side panel */
.menu-row:hover {
    -fx-background-color: -fx-c-secondary-dark;
}

.menu-option, .group-label, .user-label {
    -fx-text-fill: -fx-c-gray-light-2;
}

.menu-row:hover .user-label,
.menu-row:hover .group-label,
.menu-row:hover .menu-option {
    -fx-text-fill: -fx-c-white;
}

.menu-row:selected {
    -fx-background-color: -fx-c-secondary;
}

.menu-row:selected .user-label,
.menu-row:selected .group-label,
.menu-row:selected .menu-option {
    -fx-text-fill: -fx-c-white;
}

/* Top bar */
.top-bar {
    -fx-background-color: -fx-c-primary-dark;
}

.top-bar__user-image {
    -fx-background-color: -fx-c-secondary;
}

/* User panel */
.user-panel__user-image {
    -fx-background-color: -fx-c-secondary;
}

/*
 * VIEWS
 */
/* Auth */
.auth__side--left {
    -fx-background-color: -fx-c-white;
}

.auth__side--right {
    -fx-background-color: linear-gradient(to top right, -fx-c-primary, -fx-c-primary-dark);
}

.auth__heading--left {
    -fx-text-fill: -fx-c-primary;
}

.auth__heading--right {
    -fx-text-fill: -fx-c-white;
}

.auth__heading--sub {
    -fx-text-fill: -fx-c-gray-light-1;
}

/* Main */
.main__view-header {
    -fx-border-color: -fx-c-gray-light-2;
}

/* Expense history */
.history__filter-label {
    -fx-text-fill: -fx-c-gray-dark-3;
}

/*
 * OTHERS
 */
.separator {
    -fx-background-color: -fx-c-gray-dark-3;
}

/* Dialog */
.dialog, .dialog *.header-panel {
    -fx-background-color: -fx-c-gray-light-0;
}

.dialog > *.button-bar > *.container {
    -fx-background-color: -fx-c-gray-light-1;
}

.dialog .button {
    -fx-background-color: -fx-c-white;
}
