.top-bar {
    -fx-spacing: 5px;
    -fx-alignment: center-right;
    -fx-padding: 10px;
}

.top-bar__user-image {
    -fx-background-radius: 5px;
    -fx-pref-height: 25px;
    -fx-pref-width: 25px;
    -fx-min-width: 25px;
}
