.auth {
    -fx-min-height: 480px;
    -fx-pref-height: 480px;
    -fx-pref-width: 720px;
}

.auth__header {
    -fx-alignment: center;
    -fx-pref-height: 200px;
    -fx-pref-width: 100px;
    -fx-spacing: 30px;
}

.auth__heading--sub {
    -fx-pref-width: 250px;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}
