.root {
    -fx-font: 12px "Futura";
}

/*
 * OVERRIDE DEFAULT STYLES
 */
/* Titled pane */
.titled-pane {
    -fx-box-border: none;
}

.titled-pane > .title {
    -fx-background-color: transparent;
}

/* Scroll pane */
.scroll-pane {
    -fx-background: transparent;
    -fx-border-width: 0;
}

/*
 * UTILITY CLASSES
 */
.background-transparent {
    -fx-background-color: transparent;
}

.no-padding {
    -fx-padding: 0;
}

/*
 * CUSTOM STYLES
 */
.menu-row.active .menu-option {
    -fx-font-weight: bold;
}


/*
 * TYPOGRAPHY
 */
.heading {
    -fx-font-weight: bold;
}

.h1 { -fx-font-size: 32px; }
.h2 { -fx-font-size: 24px; }
.h3 { -fx-font-size: 19px; }
.h4 { -fx-font-size: 16px; }
.h5 { -fx-font-size: 13px; }
.h6 { -fx-font-size: 12px; }

.wrap-text {
    -fx-wrap-text: true;
}

.text-center {
    -fx-text-alignment: center;
}

/*
 * BUTTONS
 */
.button {
    -fx-font-size: 14px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 8px 20px;
    -fx-cursor: hand;
}

.button--transparent-white {
    -fx-background-color: transparent;
}
