.personal-expense__content {
    -fx-spacing: 25px;
    -fx-alignment: center;
    -fx-min-width: 200px;
    -fx-max-width: 350px;
}

.personal-expense__inputs {
    -fx-spacing: 5px;
}

.personal-expense__select-lists {
    -fx-spacing: 15px;
}

.personal-expense__select-list-group {
    -fx-spacing: 10px;
}
